@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Boldonse&family=Bungee+Spice&family=Eater&family=Gochi+Hand&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Honk&family=Lexend:wght@100..900&family=Libertinus+Keyboard&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Playwrite+US+Trad+Guides&family=Press+Start+2P&family=Rubik+Mono+One&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    
    min-height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    position: relative;
    top: -200px;
    text-align: center;
    
    font-size: 50px;
    
    color: #792AFF;
    
    font-family: "Montserrat", sans-serif;
}

.inputs {
    padding: 7px 15px;
    border: none;
    border-bottom: 3px solid #792AFF;
    color: white;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
    border-radius: 0;
    
    font-size: 25px;
    
    input {
        background: transparent;
        outline: none;
        border: none;
        
        font-size: 19px;
        
        color: white;
        
        text-align: center;
        /* background: #222; */
        
        width: 100px;
    }
}

.indicators {
    padding: 20px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap: 30px;
    
    p {
        font-size: 30px;
        
        animation: trocaCor 10s ease-in-out infinite;
    }
}

h2 {
    font-size: 30px;
    
    color: #62C2FF;
    
    font-family: "Press Start 2P";
    animation: trocaCor 10s ease-in-out infinite;
}

button {
    padding: 24px 50px;
    
    font-size: 24px;
    color: #fff;
    
    background: transparent;
    
    border: 5px solid #009CFF;
    border-radius: 5rem;
    
    margin-top: 130px;
    
    display: flex;
    justify-self: center;
    
    box-shadow: 0 0 5px #ACFCFF;
    
    transition: .3s ease;
    
    font-family: "Montserrat";
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    color: #999;
    border: 5px solid #01558A;
}

@keyframes trocaCor {
    0%, 100% {
        color: white;
    }
    
    5% {
        color: #81FFCB;
    }
    
    10% {
        color: #FF0000;
    }
    
    15% {
        color: #FF00FB;
    }
    
    20% {
        color: #00FFAB;
    }
    
    25% {
        color: #FFFFFF;
    }
    
    30% {
        color: #0011FF;
    }
    
    35% {
        color: #FFAEDF;
    }
    
    40% {
        color: #FF0099;
    }
    
    45% {
        color: #73FF00;
    }
    
    50% {
        color: #FF00EB;
        
        transform: scale(1.3);
    }
    
    55% {
        color: rgba(255, 241, 0, 1);
    }
    
    60% {
        color: #00FF29;
    }
    
    65% {
        color: #3100FF;
    }
    
    70% {
        color: rgba(255, 0, 0, 1);
    }
    
    75% {
        color: #20FFFA;
    }
    
    80% {
        color: #A9FF00;
    }
    
    85% {
        color: #A100FF;
    }
    
    90% {
        color: #FFB600;
    }
    
    95% {
        color: #00FF95;
    }
}
